#!/usr/bin/make -f

export DH_VERBOSE = 1
export DOTNET_CLI_HOME = /tmp/dotnet-home
export DOTNET_NOLOGO = 1
export DOTNET_SKIP_FIRST_TIME_EXPERIENCE = 1
export NUGET_PACKAGES = $(CURDIR)/packages

%:
	dh $@

override_dh_auto_build:
	printf '<configuration><packageSources><clear /></packageSources></configuration>' > NuGet.Config
	dotnet restore src/Transmux.App/Transmux.App.csproj \
		--runtime linux-x64
	dotnet publish src/Transmux.App/Transmux.App.csproj \
		--configuration Release \
		--runtime linux-x64 \
		--self-contained=false \
		--no-restore \
		--output debian/build

override_dh_auto_install:
	mkdir -p debian/transmux/usr/bin
	install -D -m 755 debian/build/Transmux debian/transmux/usr/bin/transmux

override_dh_auto_test:
	# No tests to run
